#contactUs
    padding-top: 5rem
    padding-right: 5rem  
    padding-left: 5rem  
    .contact-section 
        margin-top: 3rem
        .contact-left 
            width: 25%
            display: flex !important
            gap: 2rem
            flex-direction: column
            padding-bottom: 15rem
            h1 
                border-bottom: solid 1px white
            input 
                background-color: inherit
                border: none 
                border-bottom: 1px white solid !important
                &::placeholder 
                  color: white !important
                  opacity: 1
        .contact-right 
            padding-bottom: 10rem
.social-media-icons
    display: flex 
    justify-content: flex-end
    gap: 1rem
    .social-media-elem-container
        display: flex 
        justify-content: center 
        align-items: center 
        border: solid white 1px
        border-radius: 50px 
.massage  
    background-color: none !important 
    &:placeholder 
        color: white !important
@media (max-width: 768px) 
    .contact-section    
        flex-direction: column !important
        .contact-left
            width: 100% !important
            padding-bottom: 5rem !important
@media (max-width: 600px)
    footer
        padding-right: 0  
        padding-left: 0 
        * 
            padding: 0
    .social-media 
        flex-direction: column
        * 
            padding: 0
