#contactUs
    padding-top: 5rem
    .contact-section 
        margin-top: 3rem
        .contact-left 
            width: 25%
            display: flex !important
            gap: 2rem
            flex-direction: column
            padding-bottom: 15rem
            h1 
                border-bottom: solid 1px white
            input 
                background-color: inherit
                border: none 
                border-bottom: 1px white solid !important
                &::placeholder 
                  color: white !important
                  opacity: 1
        .contact-right 
            padding-bottom: 10rem
.massage  
    background-color: none !important 
    &:placeholder 
        color: white !important
@media (max-width: 768px) 
    .contact-section    
        flex-direction: column !important
        .contact-left
            width: 100% !important
            padding-bottom: 5rem !important
@media (max-width: 500px)
    .social-media 
        flex-direction: column