header 
    

.big-ice-cream 
    padding-left: 5rem
    width: 40%
    animation: up-down infinite alternate 2s
    transition: 2s

@keyframes up-down 
    from 
        transform: translateY(25px)   
    
    to 
        transform: translateY(0px) 
@media (max-width: 960px) 
    header 
        display: revert
        flex-direction: column-reverse
        .decription 
            width: 75% !important
            text-align: center
            p 
                text-align: center !important
            
        .big-ice-cream
            width: auto