.big-ice-cream 
    padding-left: 5rem
    width: 40%
    animation: up-down infinite alternate 2s

@keyframes up-down 
    from 
        transform: translateY(25px)   
    
    to 
        transform: translateY(0px) 