.registerOption 
    cursor: pointer !important
#Modal 
    display: flex !important
    position: relative 
.show-modal 
    display: revert !important 
    z-index: 200 
    min-width: 30rem
    max-width: 30rem
    padding: 2%
    position: absolute
    top: 20rem