nav    
    padding: 0
    border-bottom: solid 4px pink  
    padding-top: 2rem !important 
    width: 90%
    overflow: hidden
#bourgir 
    display: none 
    flex-direction: column
    gap: 5px
    cursor: pointer 
    z-index: 2
    span 
        border: solid   
        width: 25px
#burgeredPart 
    display: flex 
// class for when the burger is clicked 
.burger-content 
    display: flex !important 
    flex-direction: column 
    align-items: flex-end
    gap: 2rem
    background-color: $primary
    position: absolute 
    .nav-elements 
        flex-direction: column 
    .logos 
        gap: 2rem
        width: auto 
        flex-direction: column 
@media (max-width: 850px) 
    #burgeredPart
        display: none
    #bourgir
        display: flex !important
    
