nav    
    padding: 4rem !important 
    border-bottom: solid 4px pink  
    padding-top: 2rem !important 
    width: 90%
    position: relative
#bourgir 
    display: none 
    flex-direction: column
    gap: 5px
    cursor: pointer 
    z-index: 10
    span 
        border: solid   
        width: 25px
#burgeredPart 
    display: flex
    justify-content: space-between
    padding-left: 10%
    .logos 
        button
            background-color: inherit !important
// class for when the burger is clicked 
.burger-content 
    background-color: $primary
    justify-content: center
    z-index: 5
    display: flex !important 
    flex-direction: column 
    align-items: center
    gap: 2rem
    left: 10rem
    bottom: 4rem
    position: absolute 
    animation: navbarIncoming 0.5s forwards
    *
        background-color: $primary 
    .nav-elements 
        flex-direction: column 
        div 
            display: flex 
            justify-content: center
            cursor: pointer 
            transition: 0s
    .logos 
        gap: 2rem
        width: auto 
        flex-direction: column 
@media (max-width: 850px) 
    #burgeredPart
        display: none
    #bourgir
        display: flex !important
    
@keyframes navbarIncoming 
    from 
        transform: translateX(27rem)
    to 
        transform: translateY(23rem) 