nav    
    padding: 0
    margin-left: 1rem
    margin-right: 1rem
    border-bottom: solid 4px pink  
    padding-top: 2rem !important
    img 
        cursor: pointer 
    .container-fluid 
        grid-template-rows: 20% 20% 20% 20% 20% !important
        .collapse
            .navbar-nav 
                
                    
            .nav-icons
                gap: 1px   
                button 
                    border: none  
                    background-color: inherit 
   
