#testimonials 
    margin-bottom: 10rem
    .container-fluid > .card
        box-shadow: 0 0 10px beige  
.card.inactive
    display: none !important 
#testimonials
    .container-fluid 
      display: flex
      justify-content: center
      align-items: center
      position: relative
      width: 75%
      overflow: hidden
      animation: turnarround infinite 3s
      .card-displayed
        min-width: 50% !important 
        max-width: 50% !important
        .card 
          min-width: 20rem !important 
          max-width: 20rem !important
    